<div class="center jumbotron">
<h1>HAPPY COMMUNITY</h1>

<h2>
	人生のベストパートナーを見つける
</h2>
<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
<%= link_to image_tag("kitten.jpg", alt: "kitten photo"),
			'http://rubyonrails.org/' %>
