<h1>ChatMessages#index</h1>
<p>Find me in app/views/chat_messages/index.html.erb</p>
<div id='chat_messages'>
  <% @chat_messages.each do |chat_message| %>
    <div><%="#{chat_message.user_name}: #{chat_message.body} "%></div>
  <% end %>
</div>
<br/>

<% @events.each do |event| %>
  <p><%= event.name %> <%= link_to '詳細', event %></p>
<% end %>
<br/>

<br/>
<form>
  <label>
    発言する: <input type="text" data-behavior="speak_chat_messages">
  </label>
</form>